.board_wrap {
  width: 100%;
}
.board_list {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  cursor: pointer;
}

.board_list:hover {
  background-color: #eee;
}
.board_content {
  width: calc(100% - 2rem);
}

.board_title {
  font-weight:bold;
  display: block;
  font-size: 1.1rem;
  padding:1rem 0 1rem 0;
  border-bottom: 1px solid rgb(230, 231, 238);
}

.board_writer {
  display: block;
  font-size: 1.1rem;
  padding:1rem 0 1rem 0;
  border-bottom: 1px solid rgb(230, 231, 238);
}

.board_view {
  margin-bottom: 1.2rem;
  padding:1rem 0 0rem 0;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient:vertical;
  overflow: hidden;
}

.board_bottom{
  display: flex;
  padding:1rem 0 1rem 0;
  justify-content: space-between;
}

.board_line {
  width: 100%;
  height: 0.7rem;
  background-color: rgb(230, 231, 238);
}

.board_bottomdiv {
  position: relative;
  height: 7rem;
  width: 100%;
}