.board_wrap {
  width: 100%;
}
.board_list {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  cursor: pointer;
}

.board_list:hover {
  background-color: #eee;
}
.board_content {
  width: calc(100% - 2rem);
}

.board_title {
  font-weight: bold;
  display: block;
  font-size: 1.1rem;
  padding: 2rem 0 1rem 0;
  border-bottom: 1px solid rgb(230, 231, 238);
  overflow: hidden;
  white-space: no-wrap;
  text-overflow: ellipsis;
}

.board_writer {
font-weight: bold;
padding: 1rem 0 1rem 0;
font-size: 0.8rem;

}

.board_view {
  margin-bottom: 1.2rem;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.board_bottom {

  padding: 1rem 0 2rem 0;
  border-top: 1px solid rgb(230, 231, 238);
  font-size: 0.8rem;


}
.board_bottom_wrap {
  justify-content: space-between;

  align-items: center;
  display: flex;
  height: 2rem;
}
.board_bottom_bubble{
  display: flex;
  align-items: center;
}

.board_bottom img{
  width: 1.4rem;

}
.board_line {
  width: 100%;
  height: 0.7rem;
  background-color: rgb(230, 231, 238);
}

.board_bottomdiv {
  position: relative;
  height: 7rem;
  width: 100%;
}

.board_count {
  padding-left: 0.3rem;
}