.eventForm_Container {
  width: 1728px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  display: flex;
  margin-top: 2rem;
}

.eventMain {
  display: block;
  flex: 1 1 0;
}

.eventWrap {
  display: flex;
  margin: -1rem;
  flex-wrap: wrap;
}
.eventWrap a {
  display: flex;
  width: 20rem;
  margin: 1rem;
  flex-direction: column;
  animation: smoothAppear 0.8s;
  box-shadow: 0 0 10px #bbb;
  border-radius: 10px;
  overflow: hidden;
}

.evtForm_img {
  width: 100%;
}
.evtForm_img img {
  width: 100%;
  height: 100%;
}

.evtForm_info {
  padding: 1.5rem 1rem 0.5rem 1rem;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.evtForm_date {
  display: flex;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
}

.evtForm_views {
  display: flex;

  padding: 4px 10px 4px 26px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: normal;
}
.evtForm_views img {
  width: 1.1rem;
  position: relative;
  left: -5px;
  top: -2px;
}

.evtForm_title {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1.5rem 1rem 1rem 1rem;
  height: 2.95rem;
}

.d_day {
  position: absolute;
  top: -58px;
  left: 0px;
  height: 1.5rem;
  line-height: 1.5rem;
  z-index: 2;
  font-size: 0.9rem;
  width: 6.3rem;
  overflow: hidden;
  background-color: #3e55ff;
  padding-left: 5px;
  padding-bottom: 5px;
  border-radius: 0 15px 15px 0;
  color: #fff;
}
.ing_event_box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.ing_event {
  position: relative;
  font-weight: bold;
}

.ing_event_box {
  margin: 2rem auto;
  width: calc(100% - 2rem);
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.fav_box {
  display: flex;
  align-items: center;
}

.fav_txt {
  font-size: 0.7rem;
  padding-right: 5px;
}

.ing_event_box img {
  width: 25px;
}

.fav_btn {
}

.fav_bottom_div {
  width: 100%;
  height: 8rem;
  position: relative;
}

@media (max-width: 1919px) {
  .eventForm_Container {
    width: 1376px;
  }
}

@media (max-width: 1440px) {
  .eventForm_Container {
    width: 1024px;
  }
}

@media (max-width: 1056px) {
  .eventWrap a {
    width: calc(50% - 2rem);
  }

  .eventForm_Container {
    width: calc(100% - 2rem);
  }
}

@media (max-width: 767px) {
  .eventWrap a {
    width: 100%;
  }
}

/* 
@media all and (max-width:767px){

.eventWrap{
    margin: 0 auto;
    width: 90%;
}
    
.evtForm_box {
    width: 90%;
    height: 200px;
    position: relative;
    margin: 30px auto;
    animation: smoothAppear 0.8s;
}
.evtForm_img {
    width: 100%;
    height: 170px;
	border-radius: 20px;
	box-shadow: 4px 4px 5px #bbb;
	overflow: hidden;

}
.evtForm_img img {
    width: 100%;
    height: 100%;
}
.evtForm_date {
    position: absolute;
    bottom: 40px;
    left: 20px;
    background-color: white;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
}

.evtForm_title {
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
}

.evtForm_views {
    position: absolute;
    bottom: 40px;
    right: 20px;
    background-color: white;
    padding: 4px 10px 4px 26px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: normal;
}
.evtForm_views img {
    width: 17px;
    position: absolute;
    left: 5px;
    bottom: 1px;
}

}  */
