.mypage_bg {
  width: 100%;
  height: 100%;
  background-color: rgb(244, 244, 244);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.mypage_box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

.mypage_btn {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #fff;
  background-color: #3e55ff;
  border: 1.5px solid #3e55ff;
  cursor: pointer;

  border-radius: 5px;
  width: 285px;
  height: 40px;
}

.mypage_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mypage_container {
  background-color: #fff;
  margin-bottom: 5rem;
  display: flex;
  width: 20rem;
  height: 30rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
}

.loginBtn {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 285px;
  height: 40px;
  cursor: pointer;
}

.logOutBtn {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: #3e55ff;
  background-color: #fff;
  border: 1.5px solid #3e55ff;
  cursor: pointer;

  border-radius: 5px;
  width: 285px;
  height: 40px;
}

.mypage_title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.profile {
  background-color: #fff;
  width: 130px;
  height: 130px;
  margin-bottom: 0.8rem;
  overflow: hidden;
  border-radius: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
}
.profile img {
  width: 100%;
}
