.passwordChange_box {
  width: 100%;
  height: 100%;
  background-color: rgb(244, 244, 244);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.passwordChange_container {
  width: 20rem;
  height: 30rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
}

.passwordChange_box input {
  border: none;
  display: block;
  width: 285px;
  font-size: 16px;
  background-color: #eee;
}

.passwordChange_title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.password_msg {
  padding: 10px 0;
  font-size: 0.9rem;
}
