.viewboard_warp {
  display: flex;
  width: 100%;
}
.viewboard_container {
  margin: 0 auto;
  width: calc(100% - 2rem);
}

.viewboard_title {
  font-weight: bold;

  word-wrap: break-word;
  width: 100%;
  font-size: 1.1rem;
  padding: 1rem 0 1rem 0;
}
.viewboard_view {
  overflow-y: scroll;
  display: block;
}

.viewboard_like {
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 0;
  border-top: 1px solid rgb(230, 231, 238);
  justify-content: space-between;
  border-bottom: 1px solid rgb(230, 231, 238);
}

.viewboard_bottomdiv {
  position: relative;
  height: 8rem;
  width: 100%;
}

.viewboard_middiv {
  border-bottom: 1px solid rgb(230, 231, 238);
}

.comment_wrap {
  padding-bottom: 0.8rem;
}
.comment_middiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 0.7rem 0;
}
.comment_date {
}
.comment_content {
  word-break: break-all;
}
.comment_writer {
  font-weight: bold;
  padding-left: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.comment_writer_profile {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-right: 8px;
  overflow: hidden;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment_writer img {
  max-width: 30px;
  min-width: 30px;
}

.comment_bottomdiv {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.addBoard {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 5rem;
  right: 1rem;
  background-color: #3e55ff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}
.addBoard img {
  width: 30px;
}

.viewboard_writer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
