/* css Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /* 탭 시 하이라이트 되는것 제거 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  image-rendering: -webkit-optimize-contrast;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* css Reset */

a {
  text-decoration: none;
  color: #333;
}

/* https://velog.io/@dosilv/React-mountunmount-%EC%8B%9C-%EC%95%A0%EB%8B%88%EB%A9%94%EC%9D%B4%EC%85%98-%EC%A3%BC%EA%B8%B0 */
@keyframes smoothAppear {
  from {
    opacity: 0;
    transform: translateY(15%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#root {
  height: calc(var(--vh, 1vh) * 100);

}

body {
  display: block;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
.react-icons {
  color: red;
}

.comm_box {
  width: 90%;
  margin: 2rem auto;
  font-size: 14px;
}
.comm_box li {
  display: flex;
  position: relative;
  width: 100%;
  list-style: none;
  padding-bottom: 14px;
  padding-top: 14px;
  border-bottom: 1px solid #bbb;
}

.comm_date {
}

#comm_num {
  display: none;
}

.comm_title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.comm_sub {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-weight: normal;
  color: #555;
}

.comm_area {
  width: 100%;
  min-height: 30px;
  resize: none;
  box-sizing: border-box;
  padding: 0.8rem;
  border-radius: 5px;
}

.comm_box input {
  width: 100%;
  box-sizing: border-box;
}
.comm_date {
  font-size: 0.7rem;
}

.comm_text {
  width: 90%;
  height: 100%;
  display: block;
  word-break: break-all;
}

.comm_info {
  display: flex;
  text-align: right;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}

.input_pw {
  height: 30px;
}

#comm_del {
  cursor: pointer;
  font-size: 0.7rem;
  margin-left: 0.5rem;
}

.comm_box .submitBtn {
  height: 60px;
  background-color: #3e55ff;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-top: 0.3rem;
  border-radius: 5px;
}

.input_box {
  margin-top: 2rem;
  display: flex;
}

.input_inbox {
  margin-left: 0.3rem;
}

.loadingText {
  font-size: 100px;
}

@media (max-width: 1920px) {
  .comm_box li {
    flex-direction: column;
  }
  .comm_info {
    justify-content: space-between;
  }
}

@media (max-width: 1440px) {
}

@media (max-width: 1056px) {
}

@media (max-width: 767px) {
  .comm_info {
    min-width: 28%;
  }
}

@media (max-width: 425px) {
  .comm_box li {
    flex-direction: column;
  }

  .comm_text {
    width: 100%;
  }

  .comm_info {
    justify-content: space-between;

    text-align: right;
    width: 100%;
    height: 100%;
  }
}

.main {
  min-height: calc(100vh - 180px);
}

.login {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 40000;
}
.login2 {
  top: 150px;
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 40000;
}
.login3 {
  top: 250px;
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 40000;
}
.login4 {
  top: 350px;
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 40000;
}

.mainBgColor {
  background-color: #3e55ff;
}

.pt {
  cursor: pointer;
}

.font-size-13{
font-size: 13px;
}

